<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.devgus.sunshinestore">

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SunshineStore">
        <activity android:name=".general_clothing_information_pages.teams.Clothing_Vasco_6" />
        <activity android:name=".general_clothing_information_pages.teams.Clothing_Vasco_5" />
        <activity android:name=".general_clothing_information_pages.teams.Clothing_Vasco_4" />
        <activity android:name=".general_clothing_information_pages.teams.Clothing_Vasco_3" />
        <activity android:name=".general_clothing_information_pages.teams.Clothing_Vasco_2" />
        <activity android:name=".general_clothing_information_pages.teams.Clothing_Vasco_1" />
        <activity android:name=".general_clothing_information_pages.teams.Clothing_Sport_6" />
        <activity android:name=".general_clothing_information_pages.teams.Clothing_Sport_5" />
        <activity android:name=".general_clothing_information_pages.teams.Clothing_Sport_4" />
        <activity android:name=".general_clothing_information_pages.teams.Clothing_Sport_3" />
        <activity android:name=".general_clothing_information_pages.teams.Clothing_Sport_2" />
        <activity android:name=".general_clothing_information_pages.teams.Clothing_Sport_1" />
        <activity android:name=".general_clothing_information_pages.teams.Clothing_Bahia_6" />
        <activity android:name=".general_clothing_information_pages.teams.Clothing_Bahia_5" />
        <activity android:name=".general_clothing_information_pages.teams.Clothing_Bahia_4" />
        <activity android:name=".general_clothing_information_pages.teams.Clothing_Bahia_3" />
        <activity android:name=".general_clothing_information_pages.teams.Clothing_Bahia_2" />
        <activity android:name=".general_clothing_information_pages.teams.Clothing_Bahia_1" />
        <activity android:name=".general_clothing_information_pages.teams.Clothing_Icasa_6" />
        <activity android:name=".general_clothing_information_pages.teams.Clothing_Icasa_5" />
        <activity android:name=".general_clothing_information_pages.teams.Clothing_Icasa_4" />
        <activity android:name=".general_clothing_information_pages.teams.Clothing_Icasa_3" />
        <activity android:name=".general_clothing_information_pages.teams.Clothing_Icasa_2" />
        <activity android:name=".general_clothing_information_pages.teams.Clothing_Icasa_1" />
        <activity android:name=".general_clothing_information_pages.teams.Clothing_Goias_6" />
        <activity android:name=".general_clothing_information_pages.teams.Clothing_Goias_5" />
        <activity android:name=".general_clothing_information_pages.teams.Clothing_Goias_4" />
        <activity android:name=".general_clothing_information_pages.teams.Clothing_Goias_3" />
        <activity android:name=".general_clothing_information_pages.teams.Clothing_Goias_2" />
        <activity android:name=".general_clothing_information_pages.teams.Clothing_Goias_1" />
        <activity android:name=".general_clothing_information_pages.teams.Clothing_Ceara_6" />
        <activity android:name=".general_clothing_information_pages.teams.Clothing_Ceara_5" />
        <activity android:name=".general_clothing_information_pages.teams.Clothing_Ceara_4" />
        <activity android:name=".general_clothing_information_pages.teams.Clothing_Ceara_3" />
        <activity android:name=".general_clothing_information_pages.teams.Clothing_Ceara_2" />
        <activity android:name=".general_clothing_information_pages.teams.Clothing_Ceara_1" />
        <activity android:name=".general_clothing_information_pages.characters.Clothing_Avengers_6" />
        <activity android:name=".general_clothing_information_pages.characters.Clothing_Avengers_5" />
        <activity android:name=".general_clothing_information_pages.characters.Clothing_Avengers_4" />
        <activity android:name=".general_clothing_information_pages.characters.Clothing_Avengers_3" />
        <activity android:name=".general_clothing_information_pages.characters.Clothing_Avengers_2" />
        <activity android:name=".general_clothing_information_pages.characters.Clothing_Avengers_1" />
        <activity android:name=".general_clothing_information_pages.characters.Clothing_Spider_6" />
        <activity android:name=".general_clothing_information_pages.characters.Clothing_Spider_5" />
        <activity android:name=".general_clothing_information_pages.characters.Clothing_Spider_4" />
        <activity android:name=".general_clothing_information_pages.characters.Clothing_Spider_3" />
        <activity android:name=".general_clothing_information_pages.characters.Clothing_Spider_2" />
        <activity android:name=".general_clothing_information_pages.characters.Clothing_Spider_1" />
        <activity android:name=".general_clothing_information_pages.characters.Clothing_Simpsons_6" />
        <activity android:name=".general_clothing_information_pages.characters.Clothing_Simpsons_5" />
        <activity android:name=".general_clothing_information_pages.characters.Clothing_Simpsons_4" />
        <activity android:name=".general_clothing_information_pages.characters.Clothing_Simpsons_3" />
        <activity android:name=".general_clothing_information_pages.characters.Clothing_Simpsons_2" />
        <activity android:name=".general_clothing_information_pages.characters.Clothing_Simpsons_1" />
        <activity android:name=".general_clothing_information_pages.characters.Clothing_America_6" />
        <activity android:name=".general_clothing_information_pages.characters.Clothing_America_5" />
        <activity android:name=".general_clothing_information_pages.characters.Clothing_America_4" />
        <activity android:name=".general_clothing_information_pages.characters.Clothing_America_3" />
        <activity android:name=".general_clothing_information_pages.characters.Clothing_America_2" />
        <activity android:name=".general_clothing_information_pages.characters.Clothing_America_1" />
        <activity android:name=".general_clothing_information_pages.characters.Clothing_Batman_6" />
        <activity android:name=".general_clothing_information_pages.characters.Clothing_Batman_5" />
        <activity android:name=".general_clothing_information_pages.characters.Clothing_Batman_4" />
        <activity android:name=".general_clothing_information_pages.characters.Clothing_Batman_3" />
        <activity android:name=".general_clothing_information_pages.characters.Clothing_Batman_2" />
        <activity android:name=".general_clothing_information_pages.characters.Clothing_Batman_1" />
        <activity android:name=".general_clothing_information_pages.characters.Clothing_Nasa_6" />
        <activity android:name=".general_clothing_information_pages.characters.Clothing_Nasa_5" />
        <activity android:name=".general_clothing_information_pages.characters.Clothing_Nasa_4" />
        <activity android:name=".general_clothing_information_pages.characters.Clothing_Nasa_3" />
        <activity android:name=".general_clothing_information_pages.characters.Clothing_Nasa_2" />
        <activity android:name=".general_clothing_information_pages.characters.Clothing_Nasa_1" />
        <activity android:name=".general_clothing_information_pages.departments.Clothing_Pajamas_6" />
        <activity android:name=".general_clothing_information_pages.departments.Clothing_Pajamas_5" />
        <activity android:name=".general_clothing_information_pages.departments.Clothing_Pajamas_4" />
        <activity android:name=".general_clothing_information_pages.departments.Clothing_Pajamas_3" />
        <activity android:name=".general_clothing_information_pages.departments.Clothing_Pajamas_2" />
        <activity android:name=".general_clothing_information_pages.departments.Clothing_Pajamas_1" />
        <activity android:name=".general_clothing_information_pages.departments.Clothing_Sporty_6" />
        <activity android:name=".general_clothing_information_pages.departments.Clothing_Sporty_5" />
        <activity android:name=".general_clothing_information_pages.departments.Clothing_Sporty_4" />
        <activity android:name=".general_clothing_information_pages.departments.Clothing_Sporty_3" />
        <activity android:name=".general_clothing_information_pages.departments.Clothing_Sporty_2" />
        <activity android:name=".general_clothing_information_pages.departments.Clothing_Sporty_1" />
        <activity android:name=".general_clothing_information_pages.departments.Clothing_Shoes_6" />
        <activity android:name=".general_clothing_information_pages.departments.Clothing_Shoes_5" />
        <activity android:name=".general_clothing_information_pages.departments.Clothing_Shoes_4" />
        <activity android:name=".general_clothing_information_pages.departments.Clothing_Shoes_3" />
        <activity android:name=".general_clothing_information_pages.departments.Clothing_Shoes_2" />
        <activity android:name=".general_clothing_information_pages.departments.Clothing_Shoes_1" />
        <activity android:name=".general_clothing_information_pages.departments.Clothing_Childish_6" />
        <activity android:name=".general_clothing_information_pages.departments.Clothing_Childish_5" />
        <activity android:name=".general_clothing_information_pages.departments.Clothing_Childish_4" />
        <activity android:name=".general_clothing_information_pages.departments.Clothing_Childish_3" />
        <activity android:name=".general_clothing_information_pages.departments.Clothing_Childish_2" />
        <activity android:name=".general_clothing_information_pages.departments.Clothing_Childish_1" />
        <activity android:name=".general_clothing_information_pages.departments.Clothing_Masculine_6" />
        <activity android:name=".general_clothing_information_pages.departments.Clothing_Masculine_5" />
        <activity android:name=".general_clothing_information_pages.departments.Clothing_Masculine_4" />
        <activity android:name=".general_clothing_information_pages.departments.Clothing_Masculine_3" />
        <activity android:name=".general_clothing_information_pages.departments.Clothing_Masculine_2" />
        <activity android:name=".general_clothing_information_pages.departments.Clothing_Masculine_1" />
        <activity android:name=".general_clothing_information_pages.departments.Clothing_Women_6" />
        <activity android:name=".general_clothing_information_pages.departments.Clothing_Women_5" />
        <activity android:name=".general_clothing_information_pages.departments.Clothing_Women_4" />
        <activity android:name=".general_clothing_information_pages.departments.Clothing_Women_3" />
        <activity android:name=".general_clothing_information_pages.departments.Clothing_Women_2" />
        <activity android:name=".general_clothing_information_pages.departments.Clothing_Women_1" />
        <activity android:name=".clothing_pages.teams.BahiaPage" />
        <activity android:name=".clothing_pages.teams.CearaPage" />
        <activity android:name=".clothing_pages.teams.GoiasPage" />
        <activity android:name=".clothing_pages.teams.IcasaPage" />
        <activity android:name=".clothing_pages.teams.SportPage" />
        <activity android:name=".clothing_pages.teams.VascoPage" />
        <activity android:name=".clothing_pages.characters.AmericaPage" />
        <activity android:name=".clothing_pages.characters.AvengersPage" />
        <activity android:name=".clothing_pages.characters.BatmanPage" />
        <activity android:name=".clothing_pages.characters.NasaPage" />
        <activity android:name=".clothing_pages.characters.SimpsonsPage" />
        <activity android:name=".clothing_pages.characters.SpiderPage" />
        <activity android:name=".clothing_pages.departments.ChildishPage" />
        <activity android:name=".clothing_pages.departments.MasculinePage" />
        <activity android:name=".clothing_pages.departments.PajamasPage" />
        <activity android:name=".clothing_pages.departments.ShoesPage" />
        <activity android:name=".clothing_pages.departments.SportyPage" />
        <activity android:name=".clothing_pages.departments.WomenPage" />
        <activity android:name=".user_page.AccountUser" />
        <activity android:name=".presentation_page.Presentation" />
        <activity android:name=".authentication_pages.FormRegister" />
        <activity android:name=".authentication_pages.FormLogin" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>